/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
/portal
/docs
/sassdoc
/app/portal
/.idea
node_modules/
*.bak
*.log
*.zip
*.iml
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
[Tt]humbs.db
*.idea
*.iml
*idea/
idea/
.idea/**
.idea/
target/
*target
.dm/
.dm/**
.git/
.git/**
bower_components/
.tmp
dist/
*dist/
app/bower_components/
.vscode
*.DS_Store
package-lock.json
